<ng-template #content let-modal>
  <div class="modal-header">
    <h2 class="modal-title">Edição</h2>
    <button type="button" class="close" (click)="modal.dismiss()">
      <span>&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editFormGroup">
      <div class="form-group">
        <label for="name-input">Nome</label>
        <input
          type="text"
          id="name-input"
          class="form-control"
          name="name-input"
          formControlName="name"
          [ngClass]="{
            'is-invalid': this.editFormGroup.controls.name.errors
          }"
        />
        <div class="invalid-feedback">
          <p *ngIf="this.editFormGroup.controls.name.errors?.required">
            O campo nome é necessário.
          </p>
        </div>
      </div>

      <div class="form-group">
        <label for="tel-input">Telefone</label>
        <input
          type="text"
          id="tel-input"
          class="form-control"
          name="tel-input"
          formControlName="contactNumber"
          placeholder="(00) 0 0000-0000"
          mask="(00) 0000-0000||(00) 0 0000-0000"
          [ngClass]="{
            'is-invalid': this.editFormGroup.controls.contactNumber.errors
          }"
        />
        <div class="invalid-feedback">
          <p *ngIf="this.editFormGroup.controls.contactNumber.errors?.required">
            O campo telefone é necessário.
          </p>
          <p
            *ngIf="this.editFormGroup.controls.contactNumber.errors?.minlength"
          >
            O campo telefone deve conter entre 10 e 11 caractéres.
          </p>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-primary" (click)="modal.dismiss()">
      Cancelar
    </button>
    <button
      class="btn btn-primary"
      (click)="modal.close()"
      [disabled]="this.editFormGroup.invalid"
    >
      Editar
    </button>
  </div>
</ng-template>

<div class="Buttons">
  <button routerLink="/register" mat-fab color="primary">
    <mat-icon>add</mat-icon>
  </button>
</div>
<table mat-table [dataSource]="dataSource">
  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Nome</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="contactNumber">
    <th mat-header-cell *matHeaderCellDef>Número de contato</th>
    <td mat-cell *matCellDef="let element">{{ element.contactNumber }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="buttons">
    <th mat-header-cell *matHeaderCellDef>Ações</th>
    <td mat-cell *matCellDef="let element">
      <button (click)="open(content, element)" color="primary" mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
      <button (click)="deleteItem(element.id)" color="primary" mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
